= render 'layouts/header'
.albums
  .albums__area
    .albums__left-box
      .albums__left-box__info
      .albums__left-box__image
      .albums__left-box__name
      .albums__left-box__text
    .albums__right-box
      .albums__right-box__info
      .albums__right-box__image
      .albums__right-box__name
      .albums__right-box__text
= render 'layouts/footer'