.main-contents__pickup
  .pickup__title
    新着ペット一覧
  - @photo.each do |photo|
    .pickup__box
      = link_to photo_path(photo), style: "text-decoration: none;" do
        .pickup__photo
          = image_tag url_for(photo.image), id: "pickup-image"
        .pickup__body
          %h3.photos-name 
            = photo.name
          .photos-box
            .photos-text
              =photo.text
