= render 'layouts/header'
.posts
  .posts__area
    .posts__box
      .posts__box__info
        投稿が完了しました
      .posts__box__btn
        = link_to "トップページにもどる", root_path, id: "post_btn"
= render 'layouts/footer'
