.comments{
  height: 400px;
  width: 700px;
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 3px;
  &__message{
    font-weight: bold;
    font-size: 18px;
    border-bottom: solid 1px #e6e1e1;
    padding: 5px;
  }
}