.details{
  margin-top: 120px;
  background-color: rgba($color: #e6e1e1, $alpha: 1.0);
  position: relative;
  &__area{
    background-color: rgba($color: #e6e1e1, $alpha: 1.0);
    padding-top: 20px;
  }
  &__box{
    height: 700px;
    width: 700px;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    &__info{
      padding: 10px 0; 
      height: 30px;
      width: 100%;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
      font-family: serif;
      color: rgba($color: #9c7969, $alpha: 1.0);
    }
    &__photos{
      border-top: solid 1px #e6e1e1;
      padding: 20px;
    }
    &__photo{
      padding-bottom: 10px;
    }
    &__edit{
      margin: 10px;
      background-color: antiquewhite;
      display: inline-block;
      padding: 10px;
      border-radius: 50%;
    }
    &__delete{
      margin: 10px;
      background-color: antiquewhite;
      display: inline-block;
      padding: 10px;
      border-radius: 50%;
    }
  }
  #details-btn{
    height: 50px;
    line-height: 50px;
    width: 300px;
    background-color: #e6e1e1;
    margin: 0 auto;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    color: #4C4C4C;
    cursor: pointer;
  }
  #details-image{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .details-name{
    padding: 10px;
    border-bottom: solid 1px #e6e1e1;
  }
  .details-text{
    padding: 20px;
    border-bottom: solid 1px #e6e1e1;
    max-height: 100px;
    overflow: scroll;
  }
}