.footer{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  &__logo{
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: rgba($color: rgb(173, 158, 136), $alpha: 1.0);
    position: absolute;
    bottom: 0;
    line-height: 50px;
  }
}