.messages{
  height: 350px;
  width: 700px;
  margin: 30px auto 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 8px;
  &__info{
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    font-family: serif;
    color: #9c7969;
  }
  &__area{
    border-top: solid 1px #e6e1e1;
    height: 300px;
    overflow: scroll;
  }
  &__box{
    text-align: left;
    padding: 10px;
    &__name{
      display: inline-block;
    }
    &__text{
      display: inline-block;
      padding-left: 20px;
    }
  }
}