.mypage{
  &__name{
    text-align: center;
    font-size: 20px;
    border-bottom: solid 1px #e6e1e1;
  }
  &__box{
    margin: 10px;
    float: left;
    border: solid 2px #e6e1e1;
  }
  &__photo{

  }
  &__body{
    .mypage-text{
      border-bottom: solid 1px #e6e1e1;
    }
    .mypage-edit{
      float: left;
      padding: 0 35px;
      border-right: solid 1px #e6e1e1;
    }
  }
  .photos-name{

  } 
  .mypage-box{

  }

}