.pickup{
  text-decoration: none;
  overflow: hidden;
  &__title{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
    color: rgba($color: #9c7969, $alpha: 1.0);
  }
  &__box{
    height: 300px;
    width: 250px;
    background-color: #fff;
    float: left;
    padding: 10px;
    margin: 15px 8px;
    border: solid 1px #ebebeb;
    cursor: pointer;
    #pickup-image{
      object-fit: cover;
      height: 170px;
      width: 250px;
    }
  }
  &__photo{
    border: solid 1px rgb(211, 209, 209);
  }
  &__body{
    padding: 10px;
    height: 100px;
    position: relative;
    .photos-name{
      overflow: hidden;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }
    .photos-box{
      padding: 5px;
    }
    .photos-text{
      overflow: hidden;
      text-decoration: none;
    }
    // .photos-text::after{
    //   background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),color-stop(72%,#fff));
    //   background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
    //   bottom: 0;
    //   content: "";
    //   height: 50%;
    //   position: absolute;
    //   right: 0;
    //   width: 50%;
    // }
  }
}