.photo-form{
  margin-top: 120px;
  &__area{
    height: 800px;
    padding-top: 20px;
  }
  &__box{
    font-family: serif;
    color: rgba($color: #9c7969, $alpha: 1.0);
    height: 630px;
    padding: 40px 0;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    &__info{
      padding: 10px;
      font-size: 16px;
      font-family: fantasy;
      color: rgba($color: #9c7969, $alpha: 1.0);
    }
    &__name{
      height: 50px;
      line-height: 50px;
    }
    #form-name{
      height: 20px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      font-weight: 100;
      width: 300px;
    }
    &__text{
      height: 100px;
      line-height: 100px;
    }
    #form-text{
      height: 75px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      font-weight: 100;
      width: 400px;
    }
    #img_field {
      font-size: 15px;
      margin: 10px auto;
      padding: 5px 8px;
      border: solid 1px rgb(172, 236, 222);
      color: #666;
      position: relative;
      padding: 0;
      border-radius: 5px;
      cursor: pointer;
      width: 400px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #fff;
      overflow: hidden;
      box-sizing: border-box;
      transition: 0.3s ease-out;
    }

    #img_field i {
      font-size: 100px;
      color: #aaa;
      line-height: 200px;
      transition: 0.3s ease-out;
    }

    #img_field i.add {
      display: none;
      font-size: 50px;
      position: absolute;
      top: -90px;
      right: 15px;
    }

    #img_field:hover {
      background-color: rgb(172, 236, 222);
      transition: 0.3s ease-out;
      opacity: 0.9;
    }

    #img_field:hover i {
      transition: 0.3s ease-out;
      display: block;
      color: #fff;
    }
    #img_field {
      font-size: 15px;
      margin-top: 10px;
      padding: 5px 8px;
      border: solid 1px rgb(172, 236, 222);
      color: #666;
      position: relative;
      padding: 0;
      border-radius: 5px;
      cursor: pointer;
      width: 400px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #fff;
      overflow: hidden;
      box-sizing: border-box;
      transition: 0.3s ease-out;
    }
    
    #img_field i {
      font-size: 50px;
      color: #aaa;
      line-height: 200px;
      transition: 0.3s ease-out;
    }
    
    #img_field i.add {
      display: none;
      font-size: 50px;
      position: absolute;
      top: -90px;
      right: 15px;
    }
    
    #img_field:hover {
      background-color:rgb(172, 236, 222);
      transition: 0.3s ease-out;
      opacity: 0.9;
    }
    
    #img_field:hover i {
      transition: 0.3s ease-out;
      display: block;
      color: #fff;
    }
    &__btn{
      label{
        display: block;
        height: 50px;
        line-height: 50px;
        width: 400px;
        color: #fff;
        background-color: rgba($color: #70c4ca, $alpha: 1.0);
        margin: 30px auto;
        border-radius: 4px;
        font-family: fantasy;
        cursor: pointer;
      }
    }
  }
}