/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "photos";
@import './header';
@import './footer';

html, p, ul, ol, div {
  font-size: 14px;
  color: #4C4C4C;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  position: relative;
  min-height: 100vh;
}

#input-default{
  height: 20px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
  width: 300px;
  margin: 10px 0;
}

#input-text{
  height: 60px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
  width: 400px;
}

#input-btn{
  height: 50px;
  line-height: 50px;
  width: 300px;
  color: #fff;
  background-color: rgba($color: #70c4ca, $alpha: 1.0);
  margin: 30px auto;
  border-radius: 4px;
  font-family: serif;
  cursor: pointer;
}

#defalut-link{
  color: #4C4C4C;
  text-decoration: none;
}