.header
  .header__top
    .header__top__logo
      .header__top__logoul
        = "Pet-Phots"
        .header__top__logoli
          ペットのアルバム作成
    .header__top__user
      .header__top__user__info
        ようこそゲストさん
      .header__top__user__login
        ログイン
      .header__top__user__signin
        新規登録